.ChartEditorContainer {
  display: flex;
  flex-direction: row;
}
.SignUpFormInput {
  padding: 2vh 0;
  text-align: center;
}

.HorizontalFlexSpaceBetween {
  display: flex;
  flex-direction: row;
  align-content: space-between; 
}

.flexCenterEverything {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }